services:

  bentopdf:
    image: ghcr.io/alam00000/bentopdf:2.2.0
    container_name: bentopdf
    restart: always
    # ports:
    #   - '3000:8080'
    networks:
      - cloudflare-net
    labels:
      # DOCKFLARE
      - dockflare.enable=true
      - dockflare.hostname=pdf.pulselabs.me
      - dockflare.service=http://bentopdf:8080
      # HOMEPAGE
      - homepage.group=Tools
      - homepage.name=bentopdf
      - homepage.icon=bentopdf
      - homepage.description=PDF Toolbox
      - homepage.href=https://bentopdf.${DOMAIN_NAME}
      # TRAEFIK
      # - traefik.enable=true
      # - traefik.docker.network=proxy
      # - traefik.http.routers.bentopdf.rule=Host(`bentopdf.${DOMAIN_NAME}`)
      # - traefik.http.services.bentopdf.loadbalancer.server.port=8080
      # GODOXY
      - proxy.bentopdf.port=8080

  dumbassets:
    image: dumbwareio/dumbassets:1.0.11
    container_name: dumbassets
    restart: unless-stopped
    # networks:
    #   - proxy
    # ports:
    #   - 3000:3000
    volumes:
      - "${MOUNT_POINT_DATA}/dumbassets:/app/data"
    labels:
      # HOMEPAGE
      - homepage.group=Tools
      - homepage.name=dumbassets
      - homepage.icon=dumbassets.png
      - homepage.href=https://dumbassets.${DOMAIN_NAME}
      # TRAEFIK
      # - traefik.enable=true
      # - traefik.docker.network=proxy
      # - traefik.http.routers.dumbassets.rule=Host(`dumbassets.${DOMAIN_NAME}`)
      # - traefik.http.services.dumbassets.loadbalancer.server.port=3000
      # GODOXY
      - proxy.dumbassets.port=3000
      # - proxy.idle_timeout=5m


  dumbterm:
    image: dumbwareio/dumbterm:1.2.0
    container_name: dumbterm
    restart: always
    # networks:
    #   - proxy
    # ports:
    #   - 3000:3000
    volumes:
      - "${MOUNT_POINT_DATA}/dumbterm/config:/root/.config"
      - "${MOUNT_POINT_DATA}/dumbterm/data:/root/data"
    environment:
      TZ: Europe/Paris
      SITE_TITLE: DumbTerm
      DUMBTERM_PIN: ${DUMBTERM_PIN}
      BASE_URL: https://dumbterm.${DOMAIN_NAME}
      ENABLE_STARSHIP: true
      LOCKOUT_TIME: 15 # Minutes
      MAX_SESSION_AGE: 24 # Hours
      # (OPTIONAL) - List of allowed origins for CORS
      ALLOWED_ORIGINS: "*"
    labels:
      # HOMEPAGE
      - homepage.group=Tools
      - homepage.name=dumbterm
      - homepage.icon=dumbterm.png
      - homepage.href=https://dumbterm.${DOMAIN_NAME}
      # TRAEFIK
      # - traefik.enable=true
      # - traefik.docker.network=proxy
      # - traefik.http.routers.dumbterm.rule=Host(`dumbterm.${DOMAIN_NAME}`)
      # - traefik.http.services.dumbterm.loadbalancer.server.port=3000
      # GODOXY
      - proxy.dumbterm.port=3000


  # focalboard:
  #   image: mattermost/focalboard:7.11.4
  #   container_name: focalboard
  #   restart: unless-stopped
  #   networks:
  #     - proxy
  #   #ports:
  #   #  - 8084:8000
  #   volumes:
  #     - focalboard-data:/opt/focalboard/data
  #   labels:
  #     # HOMEPAGE
  #     - homepage.group=Tools
  #     - homepage.name=focalboard
  #     - homepage.icon=focalboard.png
  #     - homepage.href=https://focalboard.${DOMAIN_NAME}
  #     # TRAEFIK
  #     - traefik.enable=true
  #     - traefik.docker.network=proxy
  #     - traefik.http.routers.focalboard.rule=Host(`focalboard.${DOMAIN_NAME}`)
  #     - traefik.http.services.focalboard.loadbalancer.server.port=8000

  it-tools:
    container_name: it-tools
    image: corentinth/it-tools:2024.5.13-a0bc346
    restart: unless-stopped
    #ports:
    #  - 8080:80
    # networks:
    #   - proxy
    labels:
      # HOMEPAGE
      - homepage.group=Tools
      - homepage.name=It-tools
      - homepage.icon=mdi-tools
      - homepage.description=Useful tools for developer and people working in IT
      - homepage.href=https://it-tools.${DOMAIN_NAME}
      # TRAEFIK
      # - traefik.enable=true
      # - traefik.docker.network=proxy
      # - traefik.http.routers.it-tools.rule=Host(`it-tools.${DOMAIN_NAME}`)
      # - traefik.http.services.it-tools.loadbalancer.server.port=80
      # GODOXY
      - proxy.it-tools.port=80

  omni-tools:
    image: iib0011/omni-tools:0.6.0
    container_name: omni-tools
    restart: unless-stopped
    networks:
      - cloudflare-net
    #ports:
    #  - "8065:80"
    labels:
      # DOCFKLARE
      dockflare.enable: true
      dockflare.hostname: omni.pulselabs.me
      dockflare.service: http://omni-tools:80
      # HOMEPAGE
      homepage.group: Tools
      homepage.name: OmniTools
      homepage.icon: omni-tools.png
      homepage.description: Useful general variety of tools to simplify everyday tasks
      homepage.href: https://omni.${DOMAIN_NAME}
      # GODOXY
      proxy.aliases: omni
      godoxy.omni.port: 80

  pairdrop:
    image: lscr.io/linuxserver/pairdrop:1.11.2
    container_name: pairdrop
    restart: always
    # networks:
    #   - proxy
    environment:
      PUID: $PUID
      PGID: $PGID
      TZ: $TZ
    #ports:
    #  - 3000:3000
    labels:
      # HOMEPAGE
      - homepage.group=Tools
      - homepage.name=pairdrop
      - homepage.icon=snapdrop.png
      - homepage.description=LAN file/text sharing
      - homepage.href=https://pairdrop.${DOMAIN_NAME}
      # TRAEFIK
      # - traefik.enable=true
      # - traefik.docker.network=proxy
      # - traefik.http.routers.pairdrop.rule=Host(`pairdrop.${DOMAIN_NAME}`)
      # - traefik.http.services.pairdrop.loadbalancer.server.port=3000
      # GODOXY
      - proxy.pairdrop.port=3000


  reactive-postgres:
    image: postgres:16-alpine
    container_name: reactive-resume-postgres
    restart: unless-stopped
    # networks:
    #   - proxy
    volumes:
      - "${MOUNT_POINT_DATA}/reactive-resume/postgres:/var/lib/postgresql/data"
    environment:
      POSTGRES_DB: postgres
      POSTGRES_USER: ${POSTGRES_USER}
      POSTGRES_PASSWORD: ${POSTGRES_PASSWORD}

  reactive-minio:
    image: minio/minio:RELEASE.2025-07-18T21-56-31Z-cpuv1
    container_name: reactive-resume-minio
    restart: unless-stopped
    command: server /data
    # networks:
    #   - proxy
    # ports:
    #   - "9000:9000"
    volumes:
      - "${MOUNT_POINT_DATA}/reactive-resume/minio:/data"
    environment:
      MINIO_ROOT_USER: ${MINIO_ROOT_USER}
      MINIO_ROOT_PASSWORD: ${MINIO_ROOT_PASSWORD}
    labels:
      # TRAEFIK
      # - traefik.enable=true
      # - traefik.docker.network=proxy
      # - traefik.http.routers.reactive-minio.rule=Host(`reactive-minio.${DOMAIN_NAME}`)
      # - traefik.http.services.reactive-minio.loadbalancer.server.port=9000
      # GODOXY
      - proxy.aliases=reactive-minio
      - proxy.reactive-minio.port=9000

  # Chrome Browser (for printing and previews)
  reactive-chrome:
    image: ghcr.io/browserless/chromium:v2.18.0 # Upgrading to newer versions causes issues
    container_name: reactive-resume-chrome
    restart: unless-stopped
    extra_hosts:
      - "host.docker.internal:host-gateway"
    dns:
      - ${DNS_ADDRESS}
    environment:
      TIMEOUT: 10000
      CONCURRENT: 10
      TOKEN: chrome_token
      EXIT_ON_HEALTH_FAILURE: "true"
      PRE_REQUEST_HEALTH_CHECK: "true"

  reactive-app:
    image: amruthpillai/reactive-resume:v4.5.6
    container_name: reactive-resume
    restart: unless-stopped
    # networks:
    #   - proxy
    # ports:
    #  - "3000:3000"
    depends_on:
      - reactive-postgres
      - reactive-minio
      - reactive-chrome
    environment:
      PORT: 3000
      NODE_ENV: production
      # -- URLs --
      PUBLIC_URL: https://reactive-resume.${DOMAIN_NAME}
      STORAGE_URL: https://reactive-minio.${DOMAIN_NAME}/default
      # -- Printer (Chrome) --
      CHROME_TOKEN: chrome_token
      CHROME_URL: ws://reactive-chrome:3000
      # -- Database (Postgres) --
      DATABASE_URL: postgresql://${POSTGRES_USER}:${POSTGRES_PASSWORD}@reactive-postgres:5432/postgres
      # -- Auth --
      ACCESS_TOKEN_SECRET: ${ACCESS_TOKEN_SECRET}
      REFRESH_TOKEN_SECRET: ${REFRESH_TOKEN_SECRET}
      # -- Storage (Minio) --
      STORAGE_ENDPOINT: reactive-minio
      STORAGE_PORT: 9000
      STORAGE_BUCKET: default
      STORAGE_ACCESS_KEY: ${MINIO_ROOT_USER}
      STORAGE_SECRET_KEY: ${MINIO_ROOT_PASSWORD}
      STORAGE_USE_SSL: "false"
      STORAGE_SKIP_BUCKET_CHECK: "false"
    labels:
      # HOMEPAGE
      - homepage.group=Tools
      - homepage.name=reactive-resume
      - homepage.icon=reactive-resume.png
      - homepage.description=Resume builder and tracker
      - homepage.href=https://reactive-resume.${DOMAIN_NAME}
      # TRAEFIK
      # - traefik.enable=true
      # - traefik.docker.network=proxy
      # - traefik.http.routers.reactive-resume.rule=Host(`reactive-resume.${DOMAIN_NAME}`)
      # - traefik.http.services.reactive-resume.loadbalancer.server.port=3000
      # GODOXY
      - proxy.aliases=reactive-resume
      - proxy.reactive-resume.port=3000
      # - proxy.idle_timeout=1h

  termix:
    image: ghcr.io/lukegus/termix:release-1.11.0
    container_name: termix
    restart: always
    #ports:
    #  - '8080:8080'
    volumes:
      - termix:/app/data
    labels:
      # HOMEPAGE
      - homepage.group=Tools
      - homepage.name=termix
      - homepage.icon=termix.png
      - homepage.description=Terminal emulator
      - homepage.href=https://termix.${DOMAIN_NAME}
      # GODOXY
      - godoxy.termix.port=8080

  wallos:
    image: bellamy/wallos:4.6.1
    container_name: wallos
    restart: unless-stopped
    # networks:
    #   - proxy
    environment:
      TZ: $TZ
    volumes:
      - "${MOUNT_POINT_DATA}/wallos/db:/var/www/html/db"
      - "${MOUNT_POINT_DATA}/wallos/logos:/var/www/html/images/uploads/logos"
    labels:
      # HOMEPAGE
      - homepage.group=Tools
      - homepage.name=wallos
      - homepage.icon=wallos.png
      - homepage.description=Subscriptions tracker
      - homepage.href=https://wallos.${DOMAIN_NAME}
      - homepage.widget.type=wallos
      - homepage.widget.url=https://wallos.${DOMAIN_NAME}
      - homepage.widget.key=${WALLOS_API_KEY}
      # TRAEFIK
      # - traefik.enable=true
      # - traefik.docker.network=proxy
      # - traefik.http.routers.wallos.rule=Host(`wallos.${DOMAIN_NAME}`)
      # - traefik.http.services.wallos.loadbalancer.server.port=80
      # GODOXY
      - proxy.wallos.port=80
      # - proxy.idle_timeout=5m

# volumes:
#   focalboard-data:


networks:
  cloudflare-net:
    name: cloudflare-net
    external: true

volumes:
  termix: