services:

  # drawio:
  #   image: jgraph/drawio:24.4.0
  #   container_name: draw
  #   restart: unless-stopped
  # #   networks:
  # #     - proxy
  #   #ports:
  #   #  - '8087:8080'
  #   #  - '8447:8443'
  #   labels:
  #     # HOMEPAGE
  #     - homepage.group=Documents & Files
  #     - homepage.name=Draw.io
  #     - homepage.icon=draw.png
  #     - homepage.href=https://drawio.${DOMAIN_NAME}
  #     - homepage.description=Draw tool
  #     # TRAEFIK
  # #     - traefik.enable=true
  # #     - traefik.docker.network=proxy
  # #     - traefik.http.routers.drawio.rule=Host(`drawio.${DOMAIN_NAME}`)
  # #     - traefik.http.services.drawio.loadbalancer.server.port=8080
  #     # GODOXY
  #        - proxy.drawio.port=8080

  # excalidraw:
  #   image: excalidraw/excalidraw@sha256:5cfbf2770e6d7530193be8cca5bdb4b8e4ba6eb000fc64b4b50d079221c51eda
  #   container_name: excalidraw
  #   restart: unless-stopped
  # #   networks:
  # #     - proxy
  #   #ports:
  #   #  - '5000:80'
  #   labels:
  #     # HOMEPAGE
  #     - homepage.group=Documents & Files
  #     - homepage.name=excalidraw
  #     - homepage.icon=https://avatar-prod-us-east-2.webexcontent.com/Avtr~V1~2de41b4b-c986-4d60-a0c5-3e346c98de34/V1~14363c25c4230c54e02ae7416216600b0aee35b05c257a00152830492f4d581b~c5a9036392714767b9a63e7f2d796a53?quarantineState=evaluating
  #     - homepage.href=https://excalidraw.${DOMAIN_NAME}
  #     - homepage.description=Browser local whiteboard
  #     # TRAEFIK
  # #     - traefik.enable=true
  # #     - traefik.docker.network=proxy
  # #     - traefik.http.routers.excalidraw.rule=Host(`excalidraw.${DOMAIN_NAME}`, `draw.home`)
  # #     - traefik.http.services.excalidraw.loadbalancer.server.port=80
  #     # GODOXY
  #     - proxy.excalidraw.port=80

  immich-server:
    container_name: immich_server
    image: ghcr.io/immich-app/immich-server:v2.5.6
    # extends:
    #   file: hwaccel.transcoding.yml
    #   service: cpu # set to one of [nvenc, quicksync, rkmpp, vaapi, vaapi-wsl] for accelerated transcoding
    volumes:
      # Do not edit the next line. If you want to change the media storage location on your system, edit the value of UPLOAD_LOCATION in the .env file
      - ${MOUNT_POINT_DATA}/immich/data:/data
      - /etc/localtime:/etc/localtime:ro
    environment:
      - UPLOAD_LOCATION=${UPLOAD_LOCATION}
      - DB_HOSTNAME=immich-database
      - DB_PASSWORD=${DB_PASSWORD}
      - REDIS_HOSTNAME=immich-redis
    #ports:
    #  - '2283:2283'
    depends_on:
      - immich-redis
      - immich-database
    restart: always
    healthcheck:
      disable: false
    labels:
      # HOMEPAGE
      - homepage.group=Documents & Files
      - homepage.name=Immich
      - homepage.icon=immich.png
      - homepage.href=https://immich.${DOMAIN_NAME}
      - homepage.description=Photo and Video Management System
      - homepage.widget.type=immich
      - homepage.widget.url=https://immich.${DOMAIN_NAME}
      - homepage.widget.key=${IMMICH_API_KEY}
      - homepage.widget.version=2
      # GODOXY
      - proxy.aliases=immich
      - proxy.immich.port=2283

  immich-machine-learning:
    container_name: immich_machine_learning
    # For hardware acceleration, add one of -[armnn, cuda, rocm, openvino, rknn] to the image tag.
    # Example tag: ${IMMICH_VERSION:-release}-cuda
    image: ghcr.io/immich-app/immich-machine-learning:v2.5.6
    # extends: # uncomment this section for hardware acceleration - see https://docs.immich.app/features/ml-hardware-acceleration
    #   file: hwaccel.ml.yml
    #   service: cpu # set to one of [armnn, cuda, rocm, openvino, openvino-wsl, rknn] for accelerated inference - use the `-wsl` version for WSL2 where applicable
    volumes:
      - model-cache:/cache
    restart: always
    healthcheck:
      disable: false

  immich-redis:
    container_name: immich_redis
    image: docker.io/valkey/valkey:9@sha256:fb8d272e529ea567b9bf1302245796f21a2672b8368ca3fcb938ac334e613c8f
    healthcheck:
      test: redis-cli ping || exit 1
    restart: always

  immich-database:
    container_name: immich_postgres
    image: ghcr.io/immich-app/postgres:14-vectorchord0.4.3-pgvectors0.2.0@sha256:bcf63357191b76a916ae5eb93464d65c07511da41e3bf7a8416db519b40b1c23
    environment:
      DB_DATA_LOCATION: ${DB_DATA_LOCATION}
      POSTGRES_PASSWORD: ${DB_PASSWORD}
      POSTGRES_USER: ${DB_USERNAME}
      POSTGRES_DB: ${DB_DATABASE_NAME}
      POSTGRES_INITDB_ARGS: '--data-checksums'
      # Uncomment the DB_STORAGE_TYPE: 'HDD' var if your database isn't stored on SSDs
      # DB_STORAGE_TYPE: 'HDD'
    volumes:
      # Do not edit the next line. If you want to change the database storage location on your system, edit the value of DB_DATA_LOCATION in the .env file
      - ${MOUNT_POINT_DATA}/immich/db:/var/lib/postgresql/data
    shm_size: 128mb
    restart: always

  # nextcloud-db:
  #   image: mariadb:10.11
  #   container_name: nextcloud-db
  #   restart: unless-stopped
  #   command: --transaction-isolation=READ-COMMITTED --log-bin=binlog --binlog-format=ROW
  #   networks:
  #     - nextcloud
  #   environment:
  #     MYSQL_ROOT_PASSWORD: ${MYSQL_ROOT_PASSWORD}
  #     MYSQL_PASSWORD: ${MYSQL_PASSWORD}
  #     MYSQL_DATABASE: ${MYSQL_DATABASE}
  #     MYSQL_USER: ${MYSQL_USER}
  #   volumes:
  #     - ${MOUNT_POINT_DATA}/nextcloud/db:/var/lib/mysql

  # nextcloud:
  #   image: nextcloud:29.0.0
  #   container_name: nextcloud
  #   restart: unless-stopped
  #   depends_on:
  #     - nextcloud-db
  #   networks:
  #     - nextcloud
  # #     - proxy
  #   # ports:
  #   #   - 8080:80
  #   environment:
  #     MYSQL_PASSWORD: ${MYSQL_PASSWORD}
  #     MYSQL_DATABASE: ${MYSQL_DATABASE}
  #     MYSQL_USER: ${MYSQL_USER}
  #     MYSQL_HOST: nextcloud-db
  #   volumes:
  #     - ${MOUNT_POINT_DATA}/nextcloud/nextcloud:/var/www/html
  #     - ${MOUNT_POINT_DATA}/nextcloud/apps:/var/www/html/custom_apps
  #     - ${MOUNT_POINT_DATA}/nextcloud/config:/var/www/html/config
  #     - ${MOUNT_POINT_DATA}/nextcloud/data:/var/www/html/data
  #     - ${MOUNT_POINT_DATA}/nextcloud/theme:/var/www/html/themes
  #   labels:
  #     # HOMEPAGE
  #     - homepage.group=Documents & Files
  #     - homepage.name=Nextcloud
  #     - homepage.icon=nextcloud.png
  #     - homepage.href=https://nextcloud.${DOMAIN_NAME}
  #     - homepage.description=Private Cloud
  #     # TRAEFIK
  # #     - traefik.enable=true
  # #     - traefik.docker.network=proxy
  # #     - traefik.http.routers.nextcloud.rule=Host(`nextcloud.${DOMAIN_NAME}`)
  # #     - traefik.http.services.nextcloud.loadbalancer.server.port=80
  #     # GODOXY
  #     - proxy.nextcloud.port=80
  #     - proxy.network=nextcloud

  # onlyoffice:
  #   container_name: onlyoffice
  #   image: onlyoffice/documentserver:8.1.3
  #   restart: unless-stopped
  #   network_mode: "bridge"
  #   #ports:
  #   #  - 8780:80
  #   #  - 448:443
  #   environment:
  #     PUID: $PUID
  #     PGID: $PGID
  #     JWT_ENABLED: false
  #   volumes:
  #     - ${MOUNT_POINT_DATA}/onlyoffice/logs:/var/log/onlyoffice
  #     - ${MOUNT_POINT_DATA}/onlyoffice/data:/var/www/onlyoffice/Data
  #     - ${MOUNT_POINT_DATA}/onlyoffice/cache:/var/lib/onlyoffice
  #     - ${MOUNT_POINT_DATA}/onlyoffice/db:/var/lib/postgresql
  #     - ${MOUNT_POINT_DATA}/onlyoffice/redis:/var/lib/redis
  #     - ${MOUNT_POINT_DATA}/onlyoffice/font:/usr/share/fonts/truetype/custom
  #     - ${MOUNT_POINT_DATA}/onlyoffice/rabbitmq:/var/lib/rabbitmq
  #   labels:
  #     # HOMEPAGE
  #     - homepage.group=Documents & Files
  #     - homepage.name=Onlyoffice
  #     - homepage.icon=onlyoffice.png
  #     - homepage.href=http://onlyoffice.${DOMAIN_NAME}
  #     - homepage.description=Workd Excel and Powerpoint replacement
  #     # TRAEFIK
  # #     - traefik.enable=true
  # #     - traefik.docker.network=proxy
  # #     - traefik.http.routers.onlyoffice.rule=Host(`onlyoffice.${DOMAIN_NAME}`)
  # #     - traefik.http.services.onlyoffice.loadbalancer.server.port=80
  #     # GODOXY
  #     - proxy.onlyoffice.port=80

  paperless-server:
    image: ghcr.io/paperless-ngx/paperless-ngx:2.20.6
    container_name: paperless-server
    restart: unless-stopped
    depends_on:
      - paperless-cache
    networks:
      # - proxy
      - paperless
    # ports:
    #   - 8010:8000
    environment:
      PAPERLESS_REDIS: "redis://paperless-cache:6379"
      USERMAP_UID: ${PUID}
      USERMAP_GID: ${PGID}
      PAPERLESS_ADMIN_USER: ${ADMIN_USER}
      PAPERLESS_ADMIN_PASSWORD: ${ADMIN_PASSWORD}
      PAPERLESS_URL: "https://paperless.${DOMAIN_NAME}"
      # PAPERLESS_CONSUMER_POLLING: 30
    volumes:
      - ${MOUNT_POINT_DATA}/paperless/data:/usr/src/paperless/data
      - ${MOUNT_POINT_DATA}/paperless/media:/usr/src/paperless/media
      - ${PAPERLESS_PATH_EXPORT}/export:/usr/src/paperless/export
      - ${PAPERLESS_PATH_CONSUME}/consume:/usr/src/paperless/consume
    labels:
      # HOMEPAGE
      - homepage.group=Documents & Files
      - homepage.name=paperless
      - homepage.icon=paperless.png
      - homepage.href=https://paperless.${DOMAIN_NAME}
      - homepage.description=Document Management System
      - homepage.widget.type=paperlessngx
      - homepage.widget.url=https://paperless.${DOMAIN_NAME}
      - homepage.widget.key=${PAPERLESS_API_KEY}
      # TRAEFIK
      # - traefik.enable=true
      # - traefik.docker.network=proxy
      # - traefik.http.routers.paperless.rule=Host(`paperless.${DOMAIN_NAME}`)
      # - traefik.http.services.paperless.loadbalancer.server.port=8000
      # GODOXY
      - proxy.aliases=paperless
      - proxy.paperless.port=8000
      - proxy.network=paperless
      # - proxy.idle_timeout=30m

  paperless-cache:
    image: docker.io/library/redis:8
    restart: unless-stopped
    container_name: paperless-cache
    networks:
      - paperless
    volumes:
      - ${MOUNT_POINT_DATA}/paperless/cache:/data
    labels:
      - proxy.exclude=true
  syncthing:
    image: syncthing/syncthing:2.0
    container_name: syncthing
    hostname: syncthing
    restart: always
    # networks:
    #   - proxy
    # ports:
      # - 8384:8384 # WEB UI
      # - 22000:22000/tcp # listening tcp
      # - 22000:22000/udp # listening udp
      # - 21027:21027/udp # protocol discovery
    environment:
      - PUID=${PUID}
      - PGID=${PGID}
      - TZ=${TZ}
    volumes:
      - ${MOUNT_POINT_DATA}/syncthing/data:/var/syncthing
      - ${MOUNT_POINT_GAMES}:/var/syncthing/games
    labels:
      # HOMEPAGE
      - homepage.group=Documents & Files
      - homepage.name=Syncthing
      - homepage.icon=syncthing.png
      - homepage.href=https://syncthing.${DOMAIN_NAME}
      - homepage.description=Syncing file tool accross devices
      # TRAEFIK
      # - traefik.enable=true
      # - traefik.docker.network=proxy
      # - traefik.http.routers.syncthing.rule=Host(`syncthing.${DOMAIN_NAME}`)
      # - traefik.http.services.syncthing.loadbalancer.server.port=8384
    # GODOXY
      - proxy.syncthing.port=8384

  wikijs:
    image: lscr.io/linuxserver/wikijs:2.5.312
    container_name: wikijs
    restart: unless-stopped
    # networks:
    #   - proxy
    #ports:
    #  - 3000:3000
    environment:
      PUID: ${PUID}
      PGID: ${PGID}
      TZ: ${TZ}
      #DB_TYPE: sqlite #optional
      #DB_HOST: #optional
      #DB_PORT: #optional
      #DB_NAME: #optional
      #DB_USER: #optional
      #DB_PASS: #optional
    volumes:
      - ${MOUNT_POINT_DATA}/wikijs/config:/config
      - ${MOUNT_POINT_DATA}/wikijs:/data
    labels:
      # HOMEPAGE
      - homepage.group=Documents & Files
      - homepage.name=Wiki.js
      - homepage.icon=wikijs.png
      - homepage.href=https://wikijs.${DOMAIN_NAME}
      - homepage.description=Wiki
      # TRAEFIK
      # - traefik.enable=true
      # - traefik.docker.network=proxy
      # - traefik.http.routers.wikijs.rule=Host(`wikijs.${DOMAIN_NAME}`)
      # - traefik.http.services.wikijs.loadbalancer.server.port=3000
      # GODOXY
      - proxy.wikijs.port=3000
      - proxy.idle_timeout=15m

networks:
  # proxy:
  #   external: true
  paperless:
  nextcloud:

volumes:
  model-cache: