services:
  db:
    image: mariadb:12.2.2
    container_name: pterodactyl_mariadb
    restart: unless-stopped
    command: --default-authentication-plugin=mysql_native_password
    volumes:
      - ${MOUNT_POINT_DATA}/pterodactyl/panel/db:/var/lib/mysql
    environment:
      MYSQL_DATABASE: panel
      MYSQL_USER: ${DB_USERNAME}
      MYSQL_PASSWORD: ${DB_PASSWORD}
      MYSQL_ROOT_PASSWORD: ${DB_ROOT_PASSWORD}
    networks:
      - pterodactyl

  cache:
    image: redis:alpine
    container_name: pterodactyl_redis
    restart: unless-stopped
    networks:
      - pterodactyl

  panel:
    image: ghcr.io/pterodactyl/panel:v1.12.0
    container_name: pterodactyl_panel
    restart: unless-stopped
    stdin_open: true
    tty: true
# port required if you do not use a reverse proxy
#    ports:
#      - 8080:80
#      - 8443:443 # OPTIONAL
    volumes:
      - ${MOUNT_POINT_DATA}/pterodactyl/panel/var/:/app/var/
      - ${MOUNT_POINT_DATA}/pterodactyl/panel/logs/:/app/storage/logs
      - ${MOUNT_POINT_DATA}/pterodactyl/panel/nginx/:/etc/nginx/conf.d/
    environment:
      RECAPTCHA_ENABLED: false
      TZ: ${TZ}
      APP_TIMEZONE: Europe/London
      APP_ENV: production
      APP_ENVIRONMENT_ONLY: false
      APP_URL: https://panel.${DOMAIN_NAME}
      APP_SERVICE_AUTHOR: noreply@${DOMAIN_NAME}
      # MAIL_FROM: noreply@${DOMAIN_NAME}
      # MAIL_DRIVER: smtp
      # MAIL_HOST: mail.${DOMAIN_NAME}
      # MAIL_PORT: 587
      # MAIL_USERNAME: noreply@${DOMAIN_NAME}
      # MAIL_PASSWORD: REPLACE_WITH_YOUR_EMAIL_PASSWORD
      # MAIL_ENCRYPTION: false
      TRUSTED_PROXIES: "*"
      PTERODACTYL_TELEMETRY_ENABLED: false
      DB_HOST: db
      DB_PORT: 3306
      DB_USERNAME: ${DB_USERNAME}
      DB_PASSWORD: ${DB_PASSWORD}
      CACHE_DRIVER: redis
      SESSION_DRIVER: redis
      QUEUE_DRIVER: redis
      REDIS_HOST: cache
#      LE_EMAIL: "" # Uncomment if you want to use Let's Encrypt to generate an SSL certificate for the Panel.
    dns:
      - ${DNS_ADDRESS}
    networks:
      - pterodactyl
    labels:
      # HOMEPAGE
      homepage.group: Game Servers
      homepage.name: Pterodactyl Panel
      homepage.icon: pterodactyl
      homepage.description: Pterodactyl Game Server Management Panel
      homepage.href: https://panel.${DOMAIN_NAME}
      homepage.widget.type: pterodactyl
      homepage.widget.url: https://panel.${DOMAIN_NAME}
      homepage.widget.key: ${PANEL_KEY}
      # GODOXY
      proxy.aliases: panel
      proxy.panel.port: 80
      proxy.network: pterodactyl

  wings:
    image: ghcr.io/pterodactyl/wings:v1.12.1
    container_name: pterodactyl_wings
    restart: unless-stopped
    networks:
      - wings0
    ports:
      #- 8443:443
      - 2022:2022 # SFTP
    stdin_open: true
    tty: true
    environment:
      TZ: ${TZ}
      APP_TIMEZONE: Europe/London
      WINGS_UID: ${PUID}
      WINGS_GID: ${PGID}
      WINGS_USERNAME: pterodactyl
    volumes:
      # Docker socket & logs (needed for Wings to manage other containers)
      - /var/run/docker.sock:/var/run/docker.sock
      - /var/lib/docker/containers/:/var/lib/docker/containers/
      - /run/wings:/run/wings

      # Centralized persistent storage for Wings
      - ${MOUNT_POINT_DATA}/pterodactyl/config/:/etc/pterodactyl/
      - ${MOUNT_POINT_DATA}/pterodactyl/wings:${MOUNT_POINT_DATA}/pterodactyl/wings
      #- /var/lib/pterodactyl/:/var/lib/pterodactyl/
      #- /var/log/pterodactyl/:/var/log/pterodactyl/
      #- /tmp/pterodactyl/:/tmp/pterodactyl/
      - /etc/ssl/certs:/etc/ssl/certs:ro
    dns:
      - $DNS_ADDRESS
    labels:
      # HOMEPAGE
      homepage.group: Game Servers
      homepage.name: Pterodactyl Wings
      homepage.icon: pterodactyl
      homepage.description: Pterodactyl Game Server Management Wings
      # GODOXY
      proxy.aliases: wings0
      proxy.wings0.port: 443
      proxy.network: wings0
      proxy.wings0.scheme: http


networks:
  pterodactyl:
    name: pterodactyl
  wings0:
    name: wings0
    driver: bridge
    ipam:
      config:
        - subnet: "172.50.0.0/16" # make sure this doesn't conflict with existing networks
    driver_opts:
      com.docker.network.bridge.name: wings0
